In [4]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('_Datapreprocessing.csv', sep=",")
data

,Unnamed: 0,DataSource,Unnamed:1,https://data.worldbank.org,Unnamed:3,Unnamed:4,Unnamed: 6,Unnamed
0,0,Data,NaN,2016,NaN,NaN,NaN,NaN
1,1,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
2,2,Brazil,BRA,0.817555711,207652865,8358140,B,59324
3,3,Switzerland,CHE,1.077221168,8372098,39516,B,29061
4,4,Germany,DEU,1.193866758,82667685,348900,A,156727
5,5,Denmark,DNK,0.834637611,NaN,42262,B,8575
6,6,Spain,ESP,-0.008048086,46443959,500210,A,223759
7,7,France,FRA,0.407491036,66896109,547557,A,161488
8,8,Japan,JPN,-0.115284177,126994511,364560,B,13231
9,9,Greece,GRC,-0.687542545,10746740,128900,C,2506
10,10,Iran,IRN,1.1487886,80277428,1628760,D,90481
11,11,Kuwait,KWT,2.924206194,4052584,NaN,C,3075
12,12,Morocco,MAR,NaN,35276786,446300,C,4047
13,13,Nigeria,NGA,2.619033526,185989640,910770,D,1182
14,14,Qatar,QAT,3.495069918,2569804,11610,B,10287
15,15,Sweden,SWE,NaN,9903122,407310,C,18640
16,16,India,IND,1.148214693,1324171354,2973190,B,26917

In [32]:
data = pd.read_csv('_Datapreprocessing.csv', skiprows = 2, sep=",") #remove 2 rows
data

,1,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,2,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B,59324
1,3,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B,29061
2,4,Germany,DEU,1.193867,8.266768e+07,348900.0,A,156727
3,5,Denmark,DNK,0.834638,NaN,42262.0,B,8575
4,6,Spain,ESP,-0.008048,4.644396e+07,500210.0,A,223759
5,7,France,FRA,0.407491,6.689611e+07,547557.0,A,161488
6,8,Japan,JPN,-0.115284,1.269945e+08,364560.0,B,13231
7,9,Greece,GRC,-0.687543,1.074674e+07,128900.0,C,2506
8,10,Iran,IRN,1.148789,8.027743e+07,1628760.0,D,90481
9,11,Kuwait,KWT,2.924206,4.052584e+06,NaN,C,3075
10,12,Morocco,MAR,NaN,3.527679e+07,446300.0,C,4047
11,13,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D,1182
12,14,Qatar,QAT,3.495070,2.569804e+06,11610.0,B,10287
13,15,Sweden,SWE,NaN,9.903122e+06,407310.0,C,18640
14,16,India,IND,1.148215,1.324171e+09,2973190.0,B,26917

In [33]:
data.columns
#we want delete the '1' columns, because we don't need it!

Index(['1', ' CountryName', 'CountryCode', 'Population growth',
       'Total population', 'Area (sq. km)', 'International Visitors',
       'Coronavirus Cases'],
      dtype='object')

In [34]:
data.drop('1', axis = 1, inplace = True)
data

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B,59324
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B,29061
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A,156727
3,Denmark,DNK,0.834638,NaN,42262.0,B,8575
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A,223759
5,France,FRA,0.407491,6.689611e+07,547557.0,A,161488
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B,13231
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C,2506
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D,90481
9,Kuwait,KWT,2.924206,4.052584e+06,NaN,C,3075
10,Morocco,MAR,NaN,3.527679e+07,446300.0,C,4047
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D,1182
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B,10287
13,Sweden,SWE,NaN,9.903122e+06,407310.0,C,18640
14,India,IND,1.148215,1.324171e+09,2973190.0,B,26917

In [35]:
data.isnull()

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,True,False,False
10,False,False,True,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False

In [36]:
data.isnull().sum()

 CountryName              0
CountryCode               0
Population growth         2
Total population          1
Area (sq. km)             1
International Visitors    0
Coronavirus Cases         0
dtype: int64

In [37]:
data.dropna()

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B,59324
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B,29061
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A,156727
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A,223759
5,France,FRA,0.407491,6.689611e+07,547557.0,A,161488
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B,13231
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C,2506
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D,90481
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D,1182
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B,10287
14,India,IND,1.148215,1.324171e+09,2973190.0,B,26917

In [38]:
data.fillna(value = 0)

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B,59324
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B,29061
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A,156727
3,Denmark,DNK,0.834638,0.000000e+00,42262.0,B,8575
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A,223759
5,France,FRA,0.407491,6.689611e+07,547557.0,A,161488
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B,13231
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C,2506
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D,90481
9,Kuwait,KWT,2.924206,4.052584e+06,0.0,C,3075
10,Morocco,MAR,0.000000,3.527679e+07,446300.0,C,4047
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D,1182
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B,10287
13,Sweden,SWE,0.000000,9.903122e+06,407310.0,C,18640
14,India,IND,1.148215,1.324171e+09,2973190.0,B,26917

In [39]:
data['Total population'].fillna(value = data['Total population'].mean())

0     2.076529e+08
1     8.372098e+06
2     8.266768e+07
3     1.565725e+08
4     4.644396e+07
5     6.689611e+07
6     1.269945e+08
7     1.074674e+07
8     8.027743e+07
9     4.052584e+06
10    3.527679e+07
11    1.859896e+08
12    2.569804e+06
13    9.903122e+06
14    1.324171e+09
Name: Total population, dtype: float64

In [40]:
data['Area (sq. km)'].fillna(value = data['Area (sq. km)'].mean())

0     8358140.0
1       39516.0
2      348900.0
3       42262.0
4      500210.0
5      547557.0
6      364560.0
7      128900.0
8     1628760.0
9     1193427.5
10     446300.0
11     910770.0
12      11610.0
13     407310.0
14    2973190.0
Name: Area (sq. km), dtype: float64

In [41]:
data['Population growth'].fillna(value = data['Population growth'].mean())

0     0.817556
1     1.077221
2     1.193867
3     0.834638
4    -0.008048
5     0.407491
6    -0.115284
7    -0.687543
8     1.148789
9     2.924206
10    1.142708
11    2.619034
12    3.495070
13    1.142708
14    1.148215
Name: Population growth, dtype: float64

In [42]:
x = data.iloc[:, 0:6]
print(x)
y = data.iloc[:, 6]
print(y)

    CountryName CountryCode  Population growth  Total population  \
0        Brazil         BRA           0.817556      2.076529e+08
1   Switzerland         CHE           1.077221      8.372098e+06
2       Germany         DEU           1.193867      8.266768e+07
3       Denmark         DNK           0.834638               NaN
4         Spain         ESP          -0.008048      4.644396e+07
5        France         FRA           0.407491      6.689611e+07
6         Japan         JPN          -0.115284      1.269945e+08
7        Greece         GRC          -0.687543      1.074674e+07
8          Iran         IRN           1.148789      8.027743e+07
9        Kuwait         KWT           2.924206      4.052584e+06
10      Morocco         MAR                NaN      3.527679e+07
11      Nigeria         NGA           2.619034      1.859896e+08
12        Qatar         QAT           3.495070      2.569804e+06
13       Sweden         SWE                NaN      9.903122e+06
14        India         IND           1.148215      1.324171e+09

    Area (sq. km) International Visitors
0       8358140.0                      B
1         39516.0                      B
2        348900.0                      A
3         42262.0                      B
4        500210.0                      A
5        547557.0                      A
6        364560.0                      B
7        128900.0                      C
8       1628760.0                      D
9             NaN                      C
10       446300.0                      C
11       910770.0                      D
12        11610.0                      B
13       407310.0                      C
14      2973190.0                      B
0      59324
1      29061
2     156727
3       8575
4     223759
5     161488
6      13231
7       2506
8      90481
9       3075
10      4047
11      1182
12     10287
13     18640
14     26917
Name: Coronavirus Cases, dtype: int64

In [43]:
#jaygozin kardne mean dar tamame maqadire NaN 
from sklearn.impute import SimpleImputer

In [47]:
imputer = SimpleImputer()
x.iloc[:, 2:5] = imputer.fit_transform(data.iloc[:, 2:5])
x

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A
3,Denmark,DNK,0.834638,1.565725e+08,42262.0,B
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A
5,France,FRA,0.407491,6.689611e+07,547557.0,A
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D
9,Kuwait,KWT,2.924206,4.052584e+06,1193427.5,C
10,Morocco,MAR,1.142708,3.527679e+07,446300.0,C
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B
13,Sweden,SWE,1.142708,9.903122e+06,407310.0,C
14,India,IND,1.148215,1.324171e+09,2973190.0,B

In [45]:
from sklearn.impute import KNNImputer

In [46]:
imputerr = KNNImputer(n_neighbors = 2)
x.iloc[:, 2:5] = imputerr.fit_transform(data.iloc[:, 2:5])
x

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors
0,Brazil,BRA,0.817556,2.076529e+08,8358140.0,B
1,Switzerland,CHE,1.077221,8.372098e+06,39516.0,B
2,Germany,DEU,1.193867,8.266768e+07,348900.0,A
3,Denmark,DNK,0.834638,6.212341e+06,42262.0,B
4,Spain,ESP,-0.008048,4.644396e+07,500210.0,A
5,France,FRA,0.407491,6.689611e+07,547557.0,A
6,Japan,JPN,-0.115284,1.269945e+08,364560.0,B
7,Greece,GRC,-0.687543,1.074674e+07,128900.0,C
8,Iran,IRN,1.148789,8.027743e+07,1628760.0,D
9,Kuwait,KWT,2.924206,4.052584e+06,26936.0,C
10,Morocco,MAR,0.413295,3.527679e+07,446300.0,C
11,Nigeria,NGA,2.619034,1.859896e+08,910770.0,D
12,Qatar,QAT,3.495070,2.569804e+06,11610.0,B
13,Sweden,SWE,0.073548,9.903122e+06,407310.0,C
14,India,IND,1.148215,1.324171e+09,2973190.0,B